div{
  color: red;
}

.firstDiv{
  color: blue; /*to make changes to classes use . */
}
.secondDiv{
  color: orange;
}
#singledout{
  /*ids use # to be used in css */

  color: green;
  text-decoration: underline;
}
*{
  /* * selector used for selecting everything on the page */
}
h3+ul{
  /* way to use json siblings: done to css 2 types of things at one time */

  border: 4px dotted purple;
}
li a{
  color: red;
}
li a[href="https://indeliblewritings.wordpress.com/"]{
  color: blue;
  border: 2px solid orange;
}
